:root{
    --nasturcian-flower:#e84118;
    --blue-nights:#353b48;
    --lynx-white:#f5f6fa;
    --mazarine-blue:#273c75;
}
@font-face {
    font-family: Heebo-Regular ;
    src: url(../fonts/Heebo/static/Heebo-Regular.ttf);
}

body{margin: 0;font-family: 'Inter', sans-serif; }
a{
    text-decoration: none;
    color: var(--lynx-white);
}

#parte_superior{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--lynx-white);
}

nav a{
    margin:  5px;
}
main{
    background-color: var(--blue-nights);
}

#carrossel{
    position: relative;
    left: 25%;
    padding: 5px;
    width: 50%;
    background-color: var(--lynx-white);
   
}
#info-destaque{
    display: flex;
}
.texto_carro_destacado{
    font-family: 'Heebo-Regular';
    
}
.texto_carro_destacado h1{
    color: var(--nasturcian-flower);
    font-size: 80px;
   
 
    margin: 0;
   
}
.texto_carro_destacado h2{
    
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
   
}
.fundo_destacado{
    position: relative;
}

.fundo_destacado img{
    
    width: 100%;

}
@media screen and (max-width: 767px){
    
    .fundo_destacado img{
        width: 100%;

    }
}
/* telas pequenas, laptops */
@media screen and ( min-width: 768px) and (max-width:1023){
    .texto_carro_destacado h1{
    
        font-size: 40px;
    
    }
    .texto_carro_destacado h2{
    
        font-size: 20px;
    
    }
       
    .fundo_destacado img{
    
        width: 100%;

    }
}

@media screen and ( min-width: 1024px) {
    .fundo_destacado img{
        width: 150%;

    }
}