main{
    background-color: var(--blue-nights);
    padding-bottom: 5px;
}

/* carrossel  */
#carrossel{
    position: relative;
    padding: 5px;

   
}
.principal-carrossel{

    display: flex;
    align-items: center;
    justify-content: center;

}
/* seta do carrossel  */
.seta{
    height: 50px;
    position: absolute;
    z-index: 2;
    cursor: pointer;


}
.seta_direita{
    right: 50px;
}
.seta_esquerda{
    left: 50px;
}

#info-destaque{
    width: 50%;
    display: flex;
    background-color: var(--lynx-white);
}
.texto_carro_destacado{
    font-family: 'Heebo-Regular';
    
}
.texto_carro_destacado h1{
    color: var(--nasturcian-flower);
    font-size: 80px;
   
 
    margin: 0;
   
}
.texto_carro_destacado h2{
    
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
   
}
.fundo_destacado{
    position: relative;
}
.posicao{
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    gap: 50px;
}
.itens-carrossel{
    background-color: var(--lynx-white);
    padding: 10px;
    border-radius: 50%;
  

}


@media screen and (max-width: 767px){
    .itens-carrossel{
        padding: 5px;
    }
    .seta{
        height: 30px;
    }
    .texto_carro_destacado h1{
    
        font-size: 30px;
    
    }
    .texto_carro_destacado h2{
    
        font-size: 20px;
    
    }
    .carro_destaque{
        width: 250px;
        

    }
    .fundo_destacado{
        right: 55px;
    }
   
}
/* telas pequenas, laptops */
@media screen and ( min-width: 768px) and (max-width: 1023px){
    .itens-carrossel{
        padding: 5px;
    }
    .texto_carro_destacado h1{
    
        font-size: 40px;
    
    }
    .texto_carro_destacado h2{
    
        font-size: 20px;
    
    }
       
    .carro_destaque{
        width: 120%;

    }
    
    
}

@media screen and ( min-width: 1024px) {
    .carro_destaque{
        width: 150%;

    }
}