:root{
    --nasturcian-flower:#e84118;
    --blue-nights:#353b48;
    --lynx-white:#f5f6fa;
    --mazarine-blue:#273c75;
}
@font-face {
    font-family: Heebo-Regular ;
    src: url(../fonts/Heebo/static/Heebo-Regular.ttf);
}
@font-face {
    font-family: Poppins-light ;
    src: url(../fonts/InterPoppins/Poppins/Poppins-Light.ttf);
}


body{margin: 0;font-family: 'Inter', sans-serif;    }
a{
    text-decoration: none;
    color: var(--lynx-white);
}

#parte_superior{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--lynx-white);
  
}
/* menu bar  */
.menu{
    display: flex;
}
#menu-toggle {
    display: none;
  }
  
.icone_menu{
    display: none;

}
nav div{
    margin:  5px;
}
nav a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--nasturcian-flower);
}
.opcao_categoria:hover .opcoes {
    display: block;
}

.opcoes{
    display: none;
    position: absolute;
    margin: 2px;
    font-family: Poppins-light;
    background-color: #dcdde1;
    color: black;
    list-style: none;
    padding: 5px;
    box-shadow: 1px 1px 4px rgb(97, 94, 94);
    z-index: 3;
}

/* parte de baixo */
.rodape{
    margin-top: 25px;
    background-color: var(--blue-nights);
    color: white;
}
.barra{
    background-color: var(--nasturcian-flower);
    padding: 15px;
}
.classificados{
    display: flex;
    justify-content: space-evenly;
}

/* cards  */
#cards{
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    font-family: Poppins-light;
}
.card{
    flex-basis: calc(25% - 20px);
    width: 250px;
    
    

    text-align: center;
    margin: 10px; 
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(97, 94, 94);
}
.div_amostra{
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.carro_amostra{
    width: 250px;
}
.montante{
    margin-top: 20px;
    font-size: 30px;
}



@media screen and (max-width: 767px){
    .logo{
        font-size: larger;
        margin-left: 5px;
    }
    .icone_menu{
        display: block;
        cursor: pointer;
        padding: 5px;
    }
    .menu{
        display: none;

        position: absolute;
        right: 0px;
        z-index: 3;
        background-color:rgba(97, 94, 94, 0.596) ;
        padding: 5px;
        border-radius: 5px;
      

        flex-direction: column;
        
    }
    
    #menu-toggle:checked + .menu {
        display: flex;
    
    }
      
    #parte_superior{
        justify-content: space-between;
    }
}

@media screen and ( min-width: 768px) and (max-width:1023px){
    .logo{
        font-size: larger;
        margin-left: 5px;
    }
    .icone_menu{
        display: block;
        cursor: pointer;
        padding: 5px;
    }
    .menu{
        display: none;

        position: absolute;
        right: 0px;
        z-index: 3;
        background-color:rgba(97, 94, 94, 0.596) ;
        padding: 5px;
        border-radius: 5px;
      

        flex-direction: column;
        
    }
    
    #menu-toggle:checked + .menu {
        display: flex;
    
    }
      
    #parte_superior{
        justify-content: space-between;
    }
    .menu{
        font-size: 20px;
    }
}